
.authBox {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 40vw;
    min-width: 550px;
    margin: 27px;
    padding: 27px;
    border-radius: 20px;
    background-color: #FFEAC7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}


.title {
    font-size: 2.8rem;
    margin-bottom: 1rem;
}

/* Subtitle styles */
.subtitle {
    font-size: 1rem;
    margin-bottom: 2rem;
    max-width: 350px;
    line-height: 1.5;
}

/* Form group container */
.formGroup {
    margin-bottom: 1.5rem;
    width: 100%;
}

/* Label styles */
.label {
    display: block;
    margin-left: 1rem;
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #333;
    text-align: left;
}

/* Input styles */
.input {
    width: 330px;
    height: 56px;
    padding: 1rem;
    border: 3px solid #FFEAC7;
    border-radius: 12px;
    font-size: 1rem;
    box-sizing: border-box;
    
}

.input:focus {
    outline: none;
    border-color: #E8C9A1;
}

/* Error message styles */
.error {
    color: red;
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

/* Button styles */
.button {
    width: 100%;
    padding: 0.75rem;
    background-color: #E8C9A1;
    color: #4a4a4a;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 1.2rem;
    font-family: "Gothic", sans-serif;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: rgb(198, 164, 132);
}



.backButton {
    position: fixed;
    top: 27px;
    right: 27px;
    font-size: 1rem;
    z-index: 2;
    color: #0070f3;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background 0.3s;
}

.backButton:hover {
    background: rgba(0, 112, 243, 0.1);
}